/**{border: 1px solid red;}*/
header{
    margin:auto;
    width: 80%;
    height: 150px;
    background-color: tomato;
}

nav{
    margin: auto;
    width: 80%;
    height: 30px;
    /*border: 1px solid red;*/
}
li{
    
    float: left;
    width: 18%;
    padding: 5px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tomato;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(241, 143, 125);
    color:white;
}

h1{
    text-align: center;
    margin-top: 40px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
#form input{
    font-size: 22px;
}
table{
    border: 1px solid tomato;
    border-collapse: collapse;
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

table tr td{
    border: 1px solid tomato;
    border-collapse: collapse;
}

input[type="text"]{
    max-width: auto;
}

div{
    width: 20%;
}

#demo{
    width: auto;
}

#form{
    margin:auto;
    
}

.inputform{
    width: 96%;
    height: 30px;
    margin-top: 0px;
}

p{
    padding: 1px;
    margin: 0px;
}

#resul{
    
    visibility:hidden;
    background-color: tomato;
    color: white;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
}



.col_par{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

#btncalcular{
    text-decoration: none;
    background-color: tomato;
    color: azure;
    padding: 10px;
    width: 40%;
    text-align: center;
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#btncalcular:hover{ background-color: rgb(241, 143, 125);}

img{
    display: block;
    margin: auto;
    margin-top: 50px;
}
figure{
    text-align: center;
}

#creartabla{
    background-color: tomato;
    color: aliceblue;
    height: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#creartabla:hover{
    background-color: rgb(252, 150, 133);
}

.btnLance{
    background-color: tomato;
    color: azure;
}



