/**{border: 1px solid red;}*/
header{
    margin:auto;
    width: 80%;
    height: 150px;
    background-color: tomato;
}

nav{
    margin: auto;
    width: 80%;
    height: 30px;
    /*border: 1px solid red;*/
}
li{
    
    float: left;
    width: 18%;
    padding: 5px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tomato;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(241, 143, 125);
    color:white;
}

h1{
    text-align: center;
    margin-top: 40px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
#form input{
    font-size: 22px;
}
table{
    border: 1px solid tomato;
    border-collapse: collapse;
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

table tr td{
    border: 1px solid tomato;
    border-collapse: collapse;
}

input[type="text"]{
    max-width: auto;
}

div{
    width: 20%;
}

#demo{
    width: auto;
}

#form{
    margin:auto;
    
}

.inputform{
    width: 98%;
    height: 30px;
    margin-top: 0px;
    border-radius: 5px;
}

p{
    padding: 1px;
    margin: 0px;
}

#resul{
    
    visibility:hidden;
    background-color: tomato;
    color: white;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
}

#container{

    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    position: relative;
}

#loginUser{

    display: block;
    width: 20%;
    height: 100vh;
    float: left;
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    margin-left: 5%;
    position: absolute;
}

img{
    width: 100vw;
    border-radius: 10px;
}

#formloguin{

    width: 100%;
    line-height: 50px;
}

.inputform2{
    width: 97%;
    height: 30px;
    margin-top: 0px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0);
}

#btnsubmit{
    
    border-radius: 10px;
    background-color: rgb(70, 40, 5);
    color: aliceblue;
    height: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
#btnsubmit:hover{
    background-color: rgb(114, 98, 79);
}

#btnCrearTabla{
    
    border-radius: 10px;
    background-color: tomato;
    color: aliceblue;
    height: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#btnCrearTabla:hover{
    background-color: rgb(252, 150, 133);
}

.bold{
    font-weight: bold;
}

#msgError{
    font-weight: bold;
    display: none;
}